:root {
  /* couleurs */
--jauneFonce: #362706;
--bleuFoncePrincipal: #1f284c;
--blueFonceSecondaire: #2b3868;
--bleuFonceBoutons: #1f284b;

--jauneFonce: #d49b34;
--beigeArriere: #fcf4e2;
--beigeArriereSection: #f0e8d4;
--beigeBoutons: #ffe299;

--main-color: #027581;
--color-dark: #1D2231;
--text-grey: #8390A2;
}